        /**************GENERAL**************/
:root{
    --beige-500:#f0d7a9;
    --beige-500-transparent:#f0d7a922;
    --beige-700:#af9573;
    --beige-700-transparent:#af9573dd;
    --white-color:#F8F4F0;
    --pink-300:#f5dcf1;
    --pink-500:#f0d0ea;
    --pink-700:#ecade1;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:var(--white-color)
}

h1,h2,h3 {
    font-family: "Cinzel", serif;
    font-weight: 500;
}
        /**************HEADER**************/
header{
    height: calc(var(--vh, 1vh) * 100);
    /* height: 100svh; */
    width: 100svw;
    position: relative;
    background-color: var(--beige-700);
    z-index: 100;
}

header nav {
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 9999;
    width: fit-content;
    right:0vw;
    top:0.5vw;
    padding: 3px 30px 3px 30px;
    border-radius: 20px 0px 0px 20px;
    background: var(--beige-500-transparent);
    backdrop-filter: blur(3px);
}

nav ul{
    display: flex;
    gap:1vw;
    padding:10px;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    position: relative;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.3rem;
    transition: all 0.4s ease-out;
    padding:10px;
}

nav ul li a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom:10%;
    width:0px;
    height:2px;
    background-color: var(--pink-700);
    transition: all 0.4s ease-out;
    translate: -50%;
    border-radius: 2px;
}

nav ul li a:hover::after{
    width:30px;
}

#logo{
    width:2vw;
    min-width: 50px;
    border-radius: 50%;
    z-index: 101;
    margin-left: 10px;
    margin-top: 4px;
    filter: brightness(0.93);
}

#logoSM{
    display: none;
}

#menu{
    display: none;
}

.flex-header{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:0;
    height: calc(var(--vh, 1vh) * 100);
    /* height:100svh; */
}

#header-img{
    background-image: url(img/header.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    width:50vw;
    height: calc(var(--vh, 1vh) * 100);
    /* height:100svh; */
    opacity: 0.7;
    filter: brightness(0.9) contrast(0.8);
}

.main-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50vw;
    height: calc(var(--vh, 1vh) * 100);
    /* height:100svh; */
}

.main-heading h1{
    font-size: clamp(2rem, 3vw, 6rem);
}

.main-heading h2{
    font-size: clamp(1rem, 1.5vw, 3rem);
    color:var(--pink-500) ;
}

#t, #p {
    display:inline-block;
}

/**************Lightbox**************/
.my-light-box{
    display:none;
    align-content: center;
    position: fixed;
    z-index: 999999999999999;
    padding-top: 10%;
    left:50%;
    top:10%;
    width: 80%;
    left:10%;
    height:100%;
    margin: auto;
    background-color: var(--beige-700-transparent);
}

@supports(backdrop-filter: blur(2px)){
    .my-light-box{
        backdrop-filter: blur(2px);
    }
}

.close-button{
    color:var(--pink-300);
    position:absolute;
    top:0px;
    right:25px;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0 20px;
    background-color: var(--beige-500-transparent);
    border-radius: 0 0 10px 10px;
    user-select: none;
    transition: all 0.4s ease-out;
    z-index: 9999999999;
}

.close-button:hover{
    background-color: var(--pink-700);
}

.prev, .next{
    position:absolute;
    top:50%;
    width: auto;
    color: var(--pink-300);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--beige-500-transparent);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    transition: all 0.4s ease-out;
    user-select: none;
}

.prev{
    left:5px;
    border-radius: 10px 0 0 10px;
}

.next{
    right:5px;
    border-radius: 0 10px 10px 0;
}

.prev:hover, .next:hover{
    background-color: var(--pink-700);
}

.my-light-box-content{
    position: relative;
    margin: auto;
    width:100%;
    max-width: 600px;
}

.my-slides{
    display: block;
    margin:auto;
    width:100%;
}

        /**************MAIN**************/

main{
    background: linear-gradient(var(--beige-700), var(--beige-500));
}

section{
    min-height: calc(var(--vh, 1vh) * 100);
    /* min-height: 100svh; */
    height:fit-content;
    width: 80vw;
    margin: 0 auto;
}

section h2 {
    position: relative;
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 2rem);
    padding-bottom: 25px;
    padding-top: 25px;
}

section h2::after{
    content:"";
    position: absolute;
    border-radius: 2px;
    left:50%;
    bottom:20px;
    translate:-50%;
    width:50px;
    height:3px;
    background-color: var(--pink-500);
}

/**************About-me**************/
#about-me{
    padding-top: 50px;
}

.flex-about-me{
    display: flex;
    flex-direction: column;
}

#about-me p {
        font-size: clamp(1.1rem, 1.1vw, 2.2rem);
        text-shadow: 0 1px 2px rgba(0,0,0,0.3);
        padding-bottom:50px;
        width:50%;
        margin:0 auto;
}

.grid-about-me{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width:60vw;
    margin: 0 auto;
    row-gap: 25px;
}

.grid-about-me img{
    width: 250px;
    border: 10px solid var(--beige-500);
    border-radius: 20px;
    filter: brightness(0.8) contrast(0.8);
    transition: all 0.4s ease-out;
}

.grid-about-me img:hover{
    border: solid 0px var(--pink-300);
    filter: brightness(1) contrast(1);
    z-index: 10;
}

/**************Services**************/

.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-content: center;
    justify-content: center;
    padding-top: 50px;
    row-gap: 50px;
}

.services-item{
    position: relative;
    text-align: center;
    width:400px;
    height:fit-content;
    background-color: var(--pink-300);
    border-radius: 20px;
    transition: all 0.4s ease-out;
}

.services-item h3{
    padding-top:25px;
    padding-bottom:25px;
    background-color: var(--beige-700-transparent);
    border-radius: 20px 20px 0 0;
}

.arrow{
    position: relative;
    bottom:0px;
    background-color: var(--beige-700-transparent);
    scale: 1.4;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    transition: all 0.15s ease-out;
}

.arrow-open{
    border-radius: 0 0 5px 5px;
    rotate: 180deg;
}

.service-p{
    color: #222;
    text-wrap: balance;
    padding: 0px;
    font-size: 1.1rem;
    scale:0;
    height: 0;
    padding: 20px;
    transition: all 0.1s ease-out;
}

.service-p-open{
    scale:1;
    height: fit-content;
}

/**QUERIES**/
@media (max-width:868px){

    header nav {
        top:calc(var(--vh, 1vh) * 0.2);
        /* top:0.2svh; */
        backdrop-filter: blur(10px);
        display: none;
    }

    header nav.open{
        display: flex;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        gap:2vw;
        padding:10px;
    }

    nav ul li a{
        padding:5px;
    }

    .my-light-box{
        height:100%;
        width: 100%;
        top:0;
        left:0;
    }

    .my-slides{
        display: block;
        width:100%;
        margin: auto;
    }

    .prev{
        left:0px;
    }

    .next{
        right:0px;
    }

    #logo{
        display: none;
    }

    #logoSM{
        display: block;
        position: fixed;
        width:2vw;
        left:1vw;
        top:calc(var(--vh, 1vh) * 1);
        /* top:1svh; */
        min-width: 40px;
        border-radius: 50%;
        z-index: 101;
        filter: brightness(0.93);
        opacity: 0.6;
    }

    #menu{
        display: block;
        position: fixed;
        right:2vw;
        top:calc(var(--vh, 1vh) * 2);
        /* top:2svh; */
        z-index: 999999;
        cursor: pointer;
    }

    .flex-header{
        flex-direction: column-reverse;
        gap:0;
        height:calc(var(--vh, 1vh) * 100);
        /* height:100svh; */
    }

    #header-img{
        width: 100%;
        height: calc(var(--vh, 1vh) * 70);
        /* height:70svh; */
    }

    @supports(background-attachment: fixed){
        #header-img{
            background-attachment: fixed
        }
    }

    .main-heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        height: calc(var(--vh, 1vh) * 30);
        /* height: 30svh; */
    }

    #about-me p {
        text-wrap: balance;
        width:100%;
    }

    .grid-about-me{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        width:80vw;
        margin: 0 auto;
    }

    .grid-about-me img{
    width: 150px;
    }

    .services-container{
    display: grid;
    grid-template-columns: repeat(1fr);
    align-content: center;
    justify-content: center;
    padding-top: 50px;
    row-gap: 25px;
}

    .services-item{
        border-radius: 0px;
        width:100%;
    }

    .services-item h3{
        border-radius: 0px 0px 0 0;
    }

}